.flex-c-outer {
    justify-content: center;
    align-content: center;
    display: flex;
    /* border: black solid 1px; */
    width: 90%;
    height: fit-content;
    /* border: solid lightgray 1px; */
    margin: 0px auto;
    flex-wrap: wrap;
}

.project {
    /* border: lightgray solid 1px; */
    flex-wrap: wrap;
    margin: 0px 10px;
    padding-bottom: 30px;
    width: 500px;
    text-align: start;
}

.title-header {
    text-align: center;
}

.portfolio-link {
    text-decoration: none;
    color: black;
    /* background-color:  blue; */
    border: solid black 1px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}